.car-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 3em;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.info-car-model {
    text-transform: uppercase;
    font-size: 3em;
}

.info-car-make {
    text-transform: capitalize;
    font-size: 2em;
}

.info-car-year {
    font-size: 1.6em;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    font-size: 1.6em;
}
  
th {
    background-color: rgb(235,235,235);
}


.info-value {
    text-transform: capitalize;
}

.drive {
    text-transform: uppercase;
}

.favorite-btn {
    border: none;
    align-self: last baseline;
    font-size: 2em;
    background-color: transparent;
    color: #696969;
    cursor: pointer;
    margin-top: -1.5em;
}