.car-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding: 5em;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.info-car-model {
    text-transform: uppercase;
    font-size: 3em;
}

.info-car-make {
    text-transform: capitalize;
    font-size: 1.5em;
}

.info-car-year {
    font-size: 1.2em;
}

.table-title {
    text-align: center;
}