.navbar {
    height: 10vh;
    box-sizing: border-box;
    width: 100%;
    background-color: #DCDCDC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

.active {
    color: #00BFFF;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.navbar h2{
    font-size: 1.5em;
    font-weight: 400;
}

.navbar span {
    font-weight: 600;
    text-transform: uppercase;
}

.navbar ul {
    display: flex;
    gap: 1em;
    font-size: 1.2em;    
}

.navbar li {
    list-style: none;
}

.navbar a:not(.active) {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    transition: .3s;
}

.navbar a:hover {
    color: #A9A9A9;
}

