#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cars-list {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;}

.cars-list li {
  border: 1px solid #000;
  list-style: none;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  width: 25%;
  transition: .3s;
  cursor: pointer;
}

.cars-list li a {
  display: block;
}
